---
title: About Us
description: >-
Bytras is an eco-conscious company dedicated to creating innovative, sustainable solutions that drive human efficiency while prioritizing environmental responsibility.
---

<!-- <p class="editor-link" style="text-align: center;"><a href="cloudcannon:collections/_staff_members/" class="btn"><strong>&#9998;</strong> B Y T R A S </a></p>
<ul class="staff">
	{% for person in site.staff_members %}
		<li>
			<div class="square-image"><img src="{% include relative-src.html src=person.image_path %}" alt="{{ person.name }}"/></div>
			<div class="name"><a target="_blank" href="https://twitter.com/{{ person.twitter }}">{{ person.name }}</a></div>
			<div class="position">{{ person.position }}</div>
		</li>
	{% endfor %}
</ul> -->



<div class="content">
	<section>
		<div class="container flex">
			<div class="text editable">
				<h2><strong>01.</strong></h2>
				<p>Born from 2,000 plastics bags rescued in Indonesia's rivers, collected by our non-profit sister organisation, Sungai Watch, each chair tells a tale of possibility. This isn't just any material - it's a testament to show that we can protect our planet - one up-cycled plastic bag at a time.</p>
			</div>
			<div class="image">
				<img src="{{ site.baseurl }}/images/trash.png" alt="Screenshot" class="screenshot editable" />
			</div>
		</div>
	</section>

	<section>
		<div class="container flex">
			<div class="text editable">
				<h2><strong>02.</strong></h2>
				<p>The plastic bags we use go through an intensive cleaning process, thoroughly washing and removing any remnants from their past. Next, through shredding and heat-pressing methods, 2,000 bags are transformed into hard, durable sheets, forming the foundation of this contemporary chair.				</p>
			</div>
			<div class="image">
				<img src="{{ site.baseurl }}/images/trash2.png" alt="Screenshot" class="screenshot editable" />
			</div>
		</div>
	</section>

	<section>
		<div class="container flex">
			<div class="text editable">
				<h2><strong>03.</strong></h2>
				<p>Harnessing the precision of CNC technology, the sheets are intricately sculpted into a series of parametric panels that make up the backbone of this chair. Designed to optimise both comfort and style, every panel is thoughtfully crafted through innovation to be as sustainable as possible, leaving no offcuts behind.				</p>
			</div>
			<div class="image">
				<img src="{{ site.baseurl }}/images/trash3.png" alt="Screenshot" class="screenshot editable" />
			</div>
		</div>
	</section>
